.logo {
	transform: translate(0px,-120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.logo._active {
	transform: translate(0px,0px);
	opacity: 1;
	
}

.slogan {
	transform: translate(0px,-120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.slogan._active {
	transform: translate(0px,0px);
	opacity: 1;
	
}
